<div class="container-fluid fondo">
  <app-nav-bar></app-nav-bar>
  <div class="card shadow-lg w-50 mx-auto mt-5">
    <img src="assets/images.jpeg" class="card-img-top" alt="foto de fondo" />
    <h5 class="card-title">User-App</h5>
    <p>
      Bienvenidos a esta aplicación para crear usuarios. Para agregar un nuevo
      usuario, complete el formulario haciendo click en el enlace de Agregar
      usuario. Es un formulario con validación de campos. Luego puedes ver los
      usuarios creados en la tabla de usuarios. Se usaron usuarios mock para
      probar la aplicación. No hay Api por tanto al refrescar la página se
      borrarán los usuarios creados.
    </p>
  </div>
</div>
