<div class="container mt-4">
  <div class="card shadow-lg">
    <div class="card-body">
      <span class="h3">Listado de Usuarios</span>
      <button class="btn btn-success float-end mb-3" routerLink="/formulario">
        Agregar usuario
      </button>

      <table class="table table-striped mt-4">
        <thead>
          <tr>
            <th>Nombre completo</th>
            <th>Edad</th>
            <th>Carrera</th>
            <th>Hobbie</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.age }}</td>
            <td>{{ user.carreer }}</td>
            <td>{{ user.hobbie }}</td>
          </tr>
        </tbody>
      </table>
      <button [routerLink]="['']" class="btn btn-info">Volver al Home</button>
    </div>
  </div>
</div>
